<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Smart Ticket</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Gõ để tìm kiếm" aria-label="Search">
                <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit">Tìm</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Các sự kiện
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="#">Gần bạn</a>
                        <a class="dropdown-item" href="#">Bạn đã tham gia</a>
                        <a class="dropdown-item" href="#">Có thể bạn hứng thú</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Phân loại
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/event/typeEvent?type=Music">Hòa nhạc</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Film">Xem phim</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Exhibition">Triển lãm</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Seminor">Hội thảo</a>
                        <a class="dropdown-item" href="/event/typeEvent?type=Other">Khác ...</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <%if(ten){%>
                        <a class="nav-link dropdown-toggle btn btn-outline-info"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 3rem;color: white;padding:0.2rem">
                            <img src="http://res.cloudinary.com/a123abc/image/upload/<%= pic%>" class="rounded-circle" style="width: 32px;height: 32px; margin:0" alt="">
                            <%=ten%>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/members/profile">Trang cá nhân</a>
                            <a class="dropdown-item" href="/members/list">Vé đã mua</a>
                            <a class="dropdown-item" href="/members/credlist">Sự kiện đã tạo</a>
                            <a class="dropdown-item" href="/event/information">Tạo sự kiện</a>
                            <a class="dropdown-item" href="/members/logout">Đăng xuất</a>
                        </div>
                    <%}else{%>
                        <a href="/members/login" class="btn btn-info" role="button">Đăng nhập</a>
                        <a href="/members/register" class="btn btn-outline-info btn-sm">Đăng ký</a>
                    <%}%>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="carousel" style="margin-top: 55px">
    <img src="http://res.cloudinary.com/a123abc/image/upload/<%= obj.imageUrl%>" width="100%" alt="">
    <div class="carousel-caption" style="">
        <h1><%= obj.name%></h1>
        <a href="/event/booking/<%=obj._id%>" class="btn btn-danger btn-lg" role="button">Book Now</a>
    </div>
</div>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4"  data-aos="fade-up" data-aos-duration="1000">
            <h2>Thông tin chung</h2>
            <h5>Thời gian:</h5>
            <div class="row">
                <div class="col-6">
                    <div style="text-align:center; border:solid grey 1px; width:100%;box-shadow:3px 3px 3px">
                        <div class="month" style="background-color: #17a2b8;color:white;border-bottom: solid gray 0.5px">
                            <span style="padding:10%">Tháng <%= obj.timeStart.getMonth()+1%></span>
                        </div>
                        <div class="date" style="margin: 0.5em">
                            <h2><%= obj.timeStart.getDate()%></h2>

                        </div>
                        <div class="day" style="border-top: solid gray 0.5px">
                           <span style="font-size: x-small"><%if(obj.timeStart.getDay()===0){%>Chủ nhật
                               <%}
                               else{%> Thứ <%= obj.timeStart.getDay()+1%><%}%>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                   <span>Lúc: <%= obj.timeStart.getHours()%> :
                       <%if(obj.timeStart.getMinutes()<10){%>
                           0<%= obj.timeStart.getMinutes()%>
                       <%}else{%><%= obj.timeStart.getMinutes()%><%}%>
                       , ngày <%= obj.timeStart.getDate()%>
                   tháng <%= obj.timeStart.getMonth()+1%>
                   năm <%= obj.timeStart.getFullYear()%>.</span>
                </div>
            </div>
            <h5 style="">Địa điểm</h5>
            <div id="map" style="width:100%">
                <iframe src="<%=obj.location_GG%>" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            <p><%= obj.location%></p>
            <a href="/event/booking/<%=obj._id%>" class="btn btn-danger btn-lg" role="button">Book Now</a>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2><%= obj.name%></h2>
            <h5><%= obj.location%></h5>
            <hr>
            <div class="fakeimg" ><img src="http://res.cloudinary.com/a123abc/image/upload/<%= obj.imageUrl%>" width="100%" height="100%" alt=""> </div>
            <h6>Nội dung</h6>
            <p><%= obj.content%></p>
            <br>
        </div>
    </div>
</div>

<footer class="py-3 bg-dark">
    <div class="container">
        <div class="row" style="color: white">
            <div class="col-9">
                <span>Trang web bán vé online tham dự cuộc thi DEV-20.</span>
                <span>Bài dự thi của nhóm APOLLO.</span>
            </div>

            <div class="col-3" style="border-left: 2px double honeydew">
                <div class="row">
                    <div class="col-md-5">
                        Liên hệ:
                    </div>
                    <div class="col-md-7">
                        <a href="#" style="color: white"><i class="fab fa-facebook"></i> Facebook</a>
                        <br>
                        <a href="#" style="color: white"><i class="fab fa-google"></i> Gmail</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>